header{
    border: 1px solid red;
}
body{
    border: 1px solid red;
}

#aboutMe{
    border: 1px solid red;
}
#accomplishment{
    border: 1px solid red;
}

/*-------------------------------------------------*/


@media screen and (max-width:500px) {

    #profilePicture {
        margin-top: 25%  ;

        height: 400px;
        border-radius: 50%;
        background: url("https://cdn.vectorstock.com/i/1000x1000/93/21/geeky-profile-icon-for-coders-vector-20869321.webp");
        background-repeat: no-repeat;
        background-size: 28em;
        background-position: center;
      }
h1{
    font-size: 3em;
    text-align: center;
    margin: 10px 0 50% 0;

}
}




@media screen and (min-width: 500px) {
    
    header{
        position: absolute;/*-- to have the header be inside/on top of allInfo--*/

    }


    h2{
        border-bottom: 2px solid black; /*--underline title of subject--*/
        width:max-content;/*-- define underline to take max width of content--*/
    }

    #allInfo{
        display: flex; /*-- to have both "aboutMe" and "accomplishment" next to eachother--*/
        justify-content: center;/*--to have the header in the middle of "aboutMe" and "accomplishment"--*/
    }
    #aboutMe{
        width: 50%;/*--make "aboutMe" take up to 50%of the screen--*/
    }
    #accomplishment{
        width: 50%;/*--make "accomplishment" take up to 50%of the screen--*/
    }
    #aboutMe, #accomplishment{
        padding-top: 100px;/*-- to have both container remain under headder, but have the text be lower--*/
    }
}



